<!--
Barra superior de la página con el mismo efecto que en el inicio (para iOS)
y con el nombre "Información personal"
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- El área donde se visualiza todo el contenido de esta página de Información personal -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información personal</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Organiza el contenido en filas y columnas como mencioné en inicio.page.html -->
  <ion-grid>
    <ion-row>

      <!--
      Columna adaptable al tamaño de la pantalla. 
      Se ve todo ancho desde el móvil y en pantallas grandes, estrecho
      -->
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        
        <div class="avatar-container">
          
          <!-- Imágen típica de usuario para acompañar mi nombre -->
          <ion-avatar>
            <img alt="Avatar del estudiante" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          
          <!-- Tiene la función de mostrar el nombre completo, el cual es el primer dato de la lista (0) -->
          <h2>{{ datosPersonales[0].valor }}</h2>
        </div>

        <!-- Lista que recorre todos los datos personales y los expone uno por uno -->
        <ion-list>
          <ion-item *ngFor="let dato of datosPersonales">
            
            <!-- Hace que el ícono cambie de acuerdo a el dato correspondiente -->
            <ion-icon [name]="dato.icono" slot="start"></ion-icon>
            <ion-label>
              
              <!-- Organización de etiqueta arriba y el dato correspondiente debajo -->
              <h3>{{ dato.etiqueta }}</h3>
              <p>{{ dato.valor }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
